# Database
DB_PASSWORD=KadimGizem2026Strong

# Auth
AUTH_SECRET=YlZ8XnP3qK9wVbR6tH4jL2mN5sD8fG7aQxC1uE0oA9iZ
NEXTAUTH_URL=https://kadimgizem.com

# Site
NEXT_PUBLIC_SITE_URL=https://kadimgizem.com

# Google OAuth (optional)
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Resend
RESEND_API_KEY=

# Cloudflare Tunnel
CLOUDFLARED_TOKEN=eyJhIjoiZGU2M2RlZjQwNzU0ZjBhYjZmMWMwMDM4MDMzMWM2MTYiLCJ0IjoiYzVkOGNlYmQtMTQ5Zi00Zjg0LWFlNzAtMDMwZTM3YTlkZDYyIiwicyI6ImhrOGxVNytqTWd6d2tiaENEOFVGZ0FjT3ljQURkaFBva3ExRFFncnBTZUhobHpsTnovZWw4c2lJR1c2QXU1STZmVGw5SndZL01iR0YzR1UxUFJPT0F3PT0ifQ==
